* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #fae6dd;
    position: relative;
    height: 100%;
}

.header {
    background-color: #fae6dd;
}

.header nav {
    width: 100%;
    height: 100vh;
    background-color: #fae6dd;
    position: absolute;
    top: 60px;
    left: -100%;
    font-family: 'Times New Roman', Times, serif;
    transition: .5s;
}

.header nav .navlist {
    background-color: #fae6dd;
}

.header img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

#menu_control:checked~.header nav {
    left: 0;
}

.header .navlist a {
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    color: black;
    border-bottom: 3px double gray;
}

.navlist-item-novel a::before {
    content: '/ ';
}

#menu_control {
    position: absolute;
    z-index: -2;
    display: none;
}

.navlist-item-novel {
    display: none;
}

.header {
    height: 50px;
}

.header .menu_btn {
    width: 60px;
    height: 60px;
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 2px;
}

.header .menu_btn span {
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}

.header .menu_btn::before {
    content: '';
    position: absolute;
    margin: auto;
    width: 40px;
    height: 3px;
    background-color: gray;
    left: 10px;
    top: 0;
    bottom: 0;
    box-shadow: 0px 15px 0px gray, 0px -15px 0px gray;
}


/* index & bio */

.container {
    /* 不小心加入下面這行會壞掉！ */
    /* position: absolute; */
    top: 60px;
}

.container img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    margin: 10px;
}

.guide {
    text-align: center;
    width: 100%;
}

.img {
    padding: 5px;
    margin: auto;
}

.bioImg {
    padding: 30px 0px;
    margin: auto;
}

h1 {
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color: black;
    text-shadow: 3px 3px 0px white;
    line-height: 120%;
    transition: ease-in 0.5s;
}

h3 {
    padding: 5px;
    font-family: 'Noto Serif', serif;
    margin: 4px;
    line-height: 140%;
    transition: ease-in 0.5s;
}

p {
    /* border: 5px black solid; */
    text-align: left;
    padding: 10px 40px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 180%;
}


/* emma */

.emmaContainer {
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    margin: 10px 0px;
}

.emmaContainer img {
    width: 100%;
}

.emmaGuide {
    text-align: center;
    width: 70%;
}

.emmaGuide p {
    text-align: left;
    padding: 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 180%;
}

.emmaImg {
    padding: 30px 0px;
    margin: auto;
    display: none;
}

.emmaImg2 {
    display: block;
    padding: 30px 0px;
    margin: auto;
}


/* pride and prejudice */

.prideContainer {
    top: 60px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    width: 100%;
    margin: 10px 0px;
}

.prideContainer img {
    width: 100%;
}

.prideGuide {
    text-align: center;
    width: 70%;
}

.prideGuide p {
    text-align: left;
    padding: 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 180%;
}

.prideImg {
    display: block;
    padding-top: 30px;
    padding-bottom: 0;
    margin: auto;
}


/* emma cast */

.cast {
    width: 100%;
    margin: 50px 0px;
    padding: 30px 0px;
    box-sizing: border-box;
    background-image: url(../images/BroughtonCastle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.cast .wrap {
    width: 80%;
    margin: auto;
}

.cast h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.cast .wrap .actor {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 10px;
    margin: 40px 13px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border: 4px double #fae6dd;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    transition: .7s;
}

.cast .wrap .actor:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #fae6dd;
}

.actor img {
    width: 90%;
    border-radius: 50%;
}

.actor p {
    color: seashell;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 180%;
    /* border: 3px solid red; */
}


/* emma cast */

.cast {
    width: 100%;
    margin: 50px 0px;
    padding: 30px 0px;
    box-sizing: border-box;
    background-image: url(../images/BroughtonCastle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.cast .wrap {
    width: 80%;
    margin: auto;
}

.cast h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.cast .wrap .actor {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 10px;
    margin: 40px 13px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border: 4px double #fae6dd;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    transition: .7s;
}

.cast .wrap .actor:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #fae6dd;
}

.actor img {
    width: 90%;
    border-radius: 50%;
}

.actor p {
    color: seashell;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 180%;
    /* border: 3px solid red; */
}


/* pride & prejudice */

.pridecast {
    width: 100%;
    margin: 50px 0px;
    padding: 30px 0px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    background-image: url(../images/Chatsworth.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pridecast .wrap {
    width: 80%;
    margin: auto;
}

.pridecast h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

.pridecast .wrap .prideActor {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 10px;
    margin: 40px 13px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border: 4px double #fae6dd;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    transition: .7s;
}

.pridecast .wrap .prideActor:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #fae6dd;
}

.prideActor img {
    width: 90%;
    border-radius: 50%;
}

.prideActor p {
    color: seashell;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 180%;
    /* border: 3px solid red; */
}


/* emma */

.filmPlace {
    width: 100%;
    height: 700px;
    margin: 40px 0px;
}

.filmPlace .wrap {
    width: 90%;
    height: 100%;
    margin: auto;
    background: url('../images/SudeleyCastle1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 3px solid green; */
}

.filmPlace .wrap .item {
    width: 85%;
    height: 100%;
    margin: auto;
    position: relative;
    /* border: 3px solid blue; */
}

.filmPlace .wrap .item .text {
    width: 100%;
    height: 30%;
    /* border: 3px solid yellow; */
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .7s ease-in;
}

.filmPlace .wrap .item .text:hover {
    height: 70%;
    border-radius: 0%;
    border: 4px double #fae6dd;
    color: white;
}

.filmPlace .wrap .item .text:hover p {
    display: block;
}

.filmPlace .wrap .item .text h3,
.filmPlace .wrap .item .text h2,
.filmPlace .wrap .item .text p {
    text-align: center;
    color: seashell;
    font-family: 'Times New Roman', Times, serif;
}

.filmPlace .wrap .item .text h3 {
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 1rem;
}

.filmPlace .wrap .item .text h2 {
    line-height: 180%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.filmPlace .wrap .item .text p {
    display: none;
}

.filmPlace-2 {
    width: 100%;
    height: 700px;
    margin: 40px 0px;
}

.filmPlace-2 .wrap {
    width: 90%;
    height: 100%;
    margin: auto;
    background: url('../images/StanwayHouse 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 3px solid green; */
}

.filmPlace-2 .wrap .item {
    width: 85%;
    height: 100%;
    margin: auto;
    /* border: 1px solid red; */
    position: relative;
}

.filmPlace-2 .wrap .item .text {
    width: 100%;
    height: 30%;
    /* border: 3px solid yellow; */
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .7s ease-in-out;
}

.filmPlace-2 .wrap .item .text:hover {
    height: 70%;
    border-radius: 0%;
    border: 4px double #fae6dd;
    color: white;
}

.filmPlace-2 .wrap .item .text:hover p {
    display: block;
}

.filmPlace-2 .wrap .item .text h3,
.filmPlace-2 .wrap .item .text h2,
.filmPlace-2 .wrap .item .text p {
    text-align: center;
    color: seashell;
    font-family: 'Times New Roman', Times, serif;
}

.filmPlace-2 .wrap .item .text h3 {
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 1rem;
}

.filmPlace-2 .wrap .item .text h2 {
    line-height: 180%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.filmPlace-2 .wrap .item .text p {
    display: none;
}


/* pride and prejudice */


/* filmPlace-3 */

.filmPlace {
    width: 100%;
    height: 700px;
    margin: 40px 0px;
}

.filmPlace .wrap {
    width: 90%;
    height: 100%;
    margin: auto;
    background: url('../images/chatsworthHouse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 3px solid green; */
}

.filmPlace .wrap .item {
    width: 85%;
    height: 100%;
    margin: auto;
    position: relative;
    /* border: 3px solid blue; */
}

.filmPlace .wrap .item .text {
    width: 100%;
    height: 30%;
    /* border: 3px solid yellow; */
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .7s ease-in;
}

.filmPlace .wrap .item .text:hover {
    height: 70%;
    border-radius: 0%;
    border: 4px double #fae6dd;
    color: white;
}

.filmPlace .wrap .item .text:hover p {
    display: block;
}

.filmPlace .wrap .item .text h3,
.filmPlace .wrap .item .text h2,
.filmPlace .wrap .item .text p {
    text-align: center;
    color: seashell;
    font-family: 'Times New Roman', Times, serif;
}

.filmPlace .wrap .item .text h3 {
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 1rem;
}

.filmPlace .wrap .item .text h2 {
    line-height: 180%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.filmPlace .wrap .item .text p {
    display: none;
}


/* filmPlace-2 */

.filmPlace-2 {
    width: 100%;
    height: 700px;
    margin: 40px 0px;
}

.filmPlace-2 .wrap {
    width: 90%;
    height: 100%;
    margin: auto;
    background: url('../images/stangeEdge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 3px solid green; */
}

.filmPlace-2 .wrap .item {
    width: 85%;
    height: 100%;
    margin: auto;
    /* border: 1px solid red; */
    position: relative;
}

.filmPlace-2 .wrap .item .text {
    width: 100%;
    height: 30%;
    /* border: 3px solid yellow; */
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .7s ease-in-out;
}

.filmPlace-2 .wrap .item .text:hover {
    height: 70%;
    border-radius: 0%;
    border: 4px double #fae6dd;
    color: white;
}

.filmPlace-2 .wrap .item .text:hover p {
    display: block;
}

.filmPlace-2 .wrap .item .text h3,
.filmPlace-2 .wrap .item .text h2,
.filmPlace-2 .wrap .item .text p {
    text-align: center;
    color: seashell;
    font-family: 'Times New Roman', Times, serif;
}

.filmPlace-2 .wrap .item .text h3 {
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 1rem;
}

.filmPlace-2 .wrap .item .text h2 {
    line-height: 180%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.filmPlace-2 .wrap .item .text p {
    display: none;
}


/* filmPlace-3 */

.filmPlace-3 {
    width: 100%;
    height: 700px;
    margin: 40px 0px;
}

.filmPlace-3 .wrap {
    width: 90%;
    height: 100%;
    margin: auto;
    background: url('../images/Forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 3px solid green; */
}

.filmPlace-3 .wrap .item {
    width: 85%;
    height: 100%;
    margin: auto;
    /* border: 1px solid red; */
    position: relative;
}

.filmPlace-3 .wrap .item .text {
    width: 100%;
    height: 30%;
    /* border: 3px solid yellow; */
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .7s ease-in-out;
}

.filmPlace-3 .wrap .item .text:hover {
    height: 70%;
    border-radius: 0%;
    border: 4px double #fae6dd;
    color: white;
}

.filmPlace-3 .wrap .item .text:hover p {
    display: block;
}

.filmPlace-3 .wrap .item .text h3,
.filmPlace-3 .wrap .item .text h2,
.filmPlace-3 .wrap .item .text p {
    text-align: center;
    color: seashell;
    font-family: 'Times New Roman', Times, serif;
}

.filmPlace-3 .wrap .item .text h3 {
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 1rem;
}

.filmPlace-3 .wrap .item .text h2 {
    line-height: 180%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 30px;
}

.filmPlace-3 .wrap .item .text p {
    display: none;
}

.filmPlace-3 img {
    display: none;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 0px;
    color: tan;
}

footer p {
    text-align: center;
}


/* 平板與電腦的尺寸 */

@media screen and (min-width: 768px) {
    .logo {
        display: none;
    }
    .header .menu_btn {
        display: none;
    }
    .header {
        display: flex;
    }
    .header nav {
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
        left: 50px;
    }
    .header .navlist a {
        padding: 10px 10px;
    }
    .header nav .navlist {
        display: flex;
    }
    .header .navlist a {
        border-bottom: none;
        background-color: transparent;
    }
    .navlist-item-novel {
        display: none;
    }
    .navlist-item:hover .navlist-item-novel {
        display: block;
        background-color: rgba(255, 255, 255, 0.8)
    }
    .navlist-item-novel a::before {
        content: '';
    }
    /* index & bio */
    .container {
        flex-direction: row;
    }
    .guide {
        padding: 0px 5%;
    }
    .img {
        width: 100%;
    }
    .bioImg {
        padding: 30px 0;
        width: 100%;
    }
    /* emma */
    .emmaContainer {
        flex-direction: row;
    }
    .emmaGuide {
        padding: 0px 5%;
    }
    .emmaImg {
        display: block;
        padding: 30px 0;
        width: 100%;
    }
    .emmaImg2 {
        width: 100%;
    }
    /* pride & prejudice */
    .prideContainer {
        flex-direction: row;
    }
    .prideGuide {
        padding: 0px 5%;
    }
    .prideImg {
        display: block;
        padding: 30px 70px;
        width: 70%;
    }
    /* emma */
    .cast .wrap {
        display: flex;
        width: 80%;
        height: 100%;
        /* border: 3px solid green; */
        padding: 50px;
    }
    .cast .wrap .actor {
        width: 20%;
        margin: auto;
    }
    /* pride & prejudice */
    .pridecast .wrap {
        display: flex;
        width: 80%;
        height: 100%;
        /* border: 3px solid green; */
        padding: 50px;
    }
    .pridecast .wrap .prideActor {
        width: 20%;
        margin: auto;
    }
    /* emma */
    .filmPlace .wrap .item .text {
        width: 40%;
        height: 30%;
        right: 0px;
    }
    .filmPlace .wrap .item .text:hover {
        width: 100%;
        height: 70%;
        position: absolute;
        bottom: 50px;
        border-radius: 0%;
        padding: 20px 0px;
    }
    .filmPlace .wrap .item .text:hover h3 {
        font-size: 2rem;
    }
    .filmPlace .wrap .item .text:hover h2 {
        font-size: 3rem;
    }
    .filmPlace .wrap .item .text:hover p {
        font-size: 1.3rem;
        padding: 0px 120px;
    }
    /* filmPlace-2 */
    .filmPlace-2 .wrap .item .text {
        width: 40%;
        height: 30%;
        right: 0px;
    }
    .filmPlace-2 .wrap .item .text:hover {
        width: 100%;
        height: 70%;
        position: absolute;
        bottom: 50px;
        border-radius: 0%;
        padding: 20px 0px;
    }
    .filmPlace-2 .wrap .item .text:hover h3 {
        font-size: 2rem;
    }
    .filmPlace-2 .wrap .item .text:hover h2 {
        font-size: 3rem;
    }
    .filmPlace-2 .wrap .item .text:hover p {
        font-size: 1.3rem;
        padding: 0px 120px;
    }
    /* filmPlace-3 */
    .filmPlace-3 .wrap .item .text {
        width: 40%;
        height: 30%;
        right: 0px;
    }
    .filmPlace-3 .wrap .item .text:hover {
        width: 100%;
        height: 70%;
        position: absolute;
        bottom: 50px;
        border-radius: 0%;
        padding: 20px 0px;
    }
    .filmPlace-2 .wrap .item .text:hover h3 {
        font-size: 2rem;
    }
    .filmPlace-3 .wrap .item .text:hover h2 {
        font-size: 3rem;
    }
    .filmPlace-3 .wrap .item .text:hover p {
        font-size: 1.3rem;
        padding: 0px 120px;
    }
    .filmPlace-3 .wrap .item .text:hover img {
        display: block;
        position: absolute;
        width: 15%;
        top: 30px;
        right: 30px;
    }
    footer p {
        text-align: center;
    }
}